sn.install/lwp/lcui/source/com/ibm/websphere/update/harness/dtdFiles/component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2014, 2015                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="component">
        <xsd:annotation>
            <xsd:documentation>
            Copyright IBM Corp, 2002. This is the DTD For the WebSphere V5.0
            product version data files that contain product installation information
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="name" type ="xsd:string" use="required"/>
            <xsd:attribute name="spec-version" type ="xsd:string" use="required"/>
            <xsd:attribute name="build-version" type ="xsd:string" use="required"/>
            <xsd:attribute name="build-date" type ="xsd:date" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

