sn.install/lwp/lcui/source/com/ibm/websphere/update/harness/dtdFiles/eventHistory.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2002, 2015                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!ELEMENT event-history (update-event*)>
<!ATTLIST event-history>

<!ELEMENT update-event (initial-version?,final-version?,update-event*)>
<!ATTLIST update-event
    event-type ( efix | ptf | component | config ) #REQUIRED
    parent-id CDATA ""
    id CDATA #REQUIRED
    is-required ( false  | true | 0 | 1 ) "false"    
    is-custom ( false  | true | 0 | 1 ) "false"
    primary-content CDATA ""
    update-action ( install | uninstall | selective-install | selective-uninstall ) #REQUIRED
    update-type ( add | replace | remove | patch | composite ) #REQUIRED
    is-external ( false  | true | 0 | 1 ) "false"    
    root-property-file CDATA ""
    root-property-name CDATA ""
    root-property-value CDATA ""
    log-name CDATA #REQUIRED
    backup-name CDATA ""
    start-time-stamp CDATA #REQUIRED
    end-time-stamp CDATA ""
    result ( succeeded | failed | cancelled ) "failed"
    result-message CDATA "">

<!ELEMENT initial-version EMPTY>
<!ATTLIST initial-version
    component-name CDATA #REQUIRED
    spec-version CDATA #REQUIRED
    build-version CDATA #REQUIRED
    build-date CDATA #REQUIRED>

<!ELEMENT final-version EMPTY>
<!ATTLIST initial-version
    component-name CDATA #REQUIRED
    spec-version CDATA #REQUIRED
    build-version CDATA #REQUIRED
    build-date CDATA #REQUIRED>
