sn.install/lwp/lcui/source/com/ibm/websphere/update/harness/dtdFiles/product.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2002, 2015                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!ELEMENT product (id, version, build-info)>
<!ATTLIST product name CDATA #REQUIRED>

<!ELEMENT version (#PCDATA)>

<!ELEMENT id (#PCDATA)>

<!ELEMENT build-info EMPTY>
<!ATTLIST build-info
    date CDATA #REQUIRED
    level CDATA #REQUIRED>
	
