sn.install/lwp/lcui/source/com/ibm/websphere/update/harness/dtdFiles/update.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2002, 2015                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!--
     product version data files that contain product installation information. -->

<!ELEMENT efix (component-name+)>
<!ATTLIST efix
    id CDATA #REQUIRED
    short-description CDATA #REQUIRED
    build-version CDATA #REQUIRED
    build-date CDATA #REQUIRED>

<!ELEMENT ptf (component-name+)>
<!ATTLIST ptf
    id CDATA #REQUIRED
    short-description CDATA #REQUIRED
    build-version CDATA #REQUIRED
    build-date CDATA #REQUIRED>

<!ELEMENT component-name (#PCDATA)>
