sn.install/lwp/im.installer/im.assembler/cdfiles/feature.config/version/dtd/eventHistory.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM                              -->
<!--                                                                   -->
<!-- 5724-S68                                                          -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2007, 2016  All Rights Reserved.              -->
<!--                                                                   -->
<!-- US Government Users Restricted Rights - Use, duplication or       -->
<!-- disclosure restricted by GSA ADP Schedule Contract with           -->
<!-- IBM Corp.                                                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!ELEMENT event-history (update-event*)>
<!ATTLIST event-history>

<!ELEMENT update-event (initial-version?,final-version?,update-event*)>
<!ATTLIST update-event
    event-type ( efix | ptf | component | config ) #REQUIRED
    parent-id CDATA ""
    id CDATA #REQUIRED
    is-required ( false  | true | 0 | 1 ) "false"
    is-custom ( false  | true | 0 | 1 ) "false"
    primary-content CDATA ""
    update-action ( install | uninstall | selective-install | selective-uninstall ) #REQUIRED
    update-type ( add | replace | remove | patch | composite ) #REQUIRED
    is-external ( false  | true | 0 | 1 ) "false"
    root-property-file CDATA ""
    root-property-name CDATA ""
    root-property-value CDATA ""
    log-name CDATA #REQUIRED
    backup-name CDATA ""
    start-time-stamp CDATA #REQUIRED
    end-time-stamp CDATA ""
    result ( succeeded | failed | cancelled ) "failed"
    result-message CDATA "">

<!ELEMENT initial-version EMPTY>
<!ATTLIST initial-version
    component-name CDATA #REQUIRED
    spec-version CDATA #REQUIRED
    build-version CDATA #REQUIRED
    build-date CDATA #REQUIRED>

<!ELEMENT final-version EMPTY>
<!ATTLIST initial-version
    component-name CDATA #REQUIRED
    spec-version CDATA #REQUIRED
    build-version CDATA #REQUIRED
    build-date CDATA #REQUIRED>
