sn.install/lwp/im.installer/im.assembler/cdfiles/feature.config/version/dtd/product.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM                              -->
<!--                                                                   -->
<!-- 5724-S68                                                          -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2007, 2016  All Rights Reserved.              -->
<!--                                                                   -->
<!-- US Government Users Restricted Rights - Use, duplication or       -->
<!-- disclosure restricted by GSA ADP Schedule Contract with           -->
<!-- IBM Corp.                                                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!ELEMENT product (id, version, build-info)>
<!ATTLIST product name CDATA #REQUIRED>

<!ELEMENT version (#PCDATA)>

<!ELEMENT id (#PCDATA)>

<!ELEMENT build-info EMPTY>
<!ATTLIST build-info
    date CDATA #REQUIRED
    level CDATA #REQUIRED>
