sn.install/lwp/im.installer/im.assembler/cdfiles/feature.config/version/dtd/update.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM                              -->
<!--                                                                   -->
<!-- 5724-S68                                                          -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2007, 2016  All Rights Reserved.              -->
<!--                                                                   -->
<!-- US Government Users Restricted Rights - Use, duplication or       -->
<!-- disclosure restricted by GSA ADP Schedule Contract with           -->
<!-- IBM Corp.                                                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!ELEMENT efix (component-name+)>
<!ATTLIST efix
    id CDATA #REQUIRED
    short-description CDATA #REQUIRED
    build-version CDATA #REQUIRED
    build-date CDATA #REQUIRED>

<!ELEMENT ptf (component-name+)>
<!ATTLIST ptf
    id CDATA #REQUIRED
    short-description CDATA #REQUIRED
    build-version CDATA #REQUIRED
    build-date CDATA #REQUIRED>

<!ELEMENT component-name (#PCDATA)>
