sn.install/lwp/im.installer/im.assembler/cdfiles/feature.config/version/dtd/websphere.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM                              -->
<!--                                                                   -->
<!-- 5724-S68                                                          -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2007, 2016  All Rights Reserved.              -->
<!--                                                                   -->
<!-- US Government Users Restricted Rights - Use, duplication or       -->
<!-- disclosure restricted by GSA ADP Schedule Contract with           -->
<!-- IBM Corp.                                                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="websphere">
        <xsd:annotation>
            <xsd:documentation>
            Copyright IBM Corp, 2002.  This is the DTD For the WebSphere V5.0
            product version data files that contain product installation information
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="name" type ="xsd:string" use="required"/>
            <xsd:attribute name="version" type ="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

